<app-submenu-user-client></app-submenu-user-client>>
<section class="">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-12 col-xl-11">
            <div class="card-body p-md-5">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-6 col-xl-5 order-2 order-lg-1">

                        <h2 class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Listado de Asistencia</h2>


                        <!-- ------------------- Formulario --------------------->
                        <form class="" [formGroup]="validatorsForm">
                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">

                                    <!--------------  Base del formulario  ------------------>
                                    <div class="row">
                                        <!-- Campo Nombre Completo -->
                                        <div class="col-lg-7">
                                            <i class="bi bi-circle-fill me-2  ms-1  small-icon text-success "></i>
                                            <label class="form-label" for="name">
                                                Nombre
                                                Completo
                                            </label>
                                            <input [class.border-danger]="validatorsForm.controls.name.errors"
                                                formControlName="name" type="text" id="name" name="name"
                                                class="form-control" placeholder="Ingrese su nombre completo"
                                                [ngClass]="isValidField('name')" required />
                                            <div *ngIf="!validatorsForm.get('name')?.valid" class="invalid-feedback">
                                                <div *ngIf="validatorsForm.get('name')?.hasError('required')">
                                                    Campo requerido
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Campo de fecha de inicio -->
                                        <div class="col-lg-5">
                                            <i class="bi bi-circle-fill me-2  ms-1  small-icon text-success "></i>
                                            <label class="form-label" for="name">Fecha de ingreso</label>
                                            <div class="input-group">
                                                <input formControlName="dateTime" id="dateTime" name="name" matInput
                                                    [matDatepicker]="picker"
                                                    [class.border-danger]="validatorsForm.controls.dateTime.errors"
                                                    class="form-control" placeholder="dd/mm/aaaa"
                                                    [ngClass]="isValidField('dateTime')" required />
                                                <mat-datepicker #picker></mat-datepicker>
                                                <div class="input-group-append">
                                                    <button mat-button (click)="picker.open()">
                                                        <i class="bi bi-calendar-date"></i>
                                                    </button>
                                                </div>
                                                <div *ngIf="!validatorsForm.get('dateTime')?.valid"
                                                    class="invalid-feedback">
                                                    <div *ngIf="validatorsForm.get('dateTime')?.hasError('required')">
                                                        Campo requerido
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <!-- Campo de Correo electrónico -->
                                        <div class="col-lg-7 mt-5">
                                            <i class="bi bi-circle-fill me-2  ms-1  small-icon text-success "></i>
                                            <label for="">Correo Electronico</label>
                                            <div class="form-outline flex-fill mb-0 input-group">
                                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                                <input class="form-control" type="email" id="form3Example3c"
                                                    placeholder="Ingrese email" [(ngModel)]="modUser.email" name="email"
                                                    formControlName="email"
                                                    [class.border-danger]="validatorsForm.controls.email.errors"
                                                    [ngClass]="isValidField('email')" required />

                                                <div *ngIf="!validatorsForm.get('email')?.valid"
                                                    class="invalid-feedback">
                                                    <div *ngIf="validatorsForm.get('email')?.hasError('required')">
                                                        Campo requerido</div>
                                                    <div *ngIf="validatorsForm.get('email')?.hasError('email')">
                                                        Texto de formato email</div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Campo de Username -->
                                        <div class="col-lg-5 mt-5">
                                            <div class="form-outline flex-fill mb-0">
                                                <i class="bi bi-circle-fill me-2  ms-1  small-icon text-success "></i>
                                                <label class="form-label" for="form3Example4cd">Username</label>
                                                <input class="form-control" type="text" id="form3Example4cd"
                                                    placeholder="Ingrese su usuario" [(ngModel)]="modUser.username"
                                                    name="username" formControlName="username"
                                                    [class.border-danger]="validatorsForm.controls.username.errors"
                                                    [ngClass]="isValidField('username')" required />
                                                <div *ngIf="!validatorsForm.get('username')?.valid"
                                                    class="invalid-feedback">
                                                    <div *ngIf="validatorsForm.get('username')?.hasError('required')">
                                                        Campo requerido
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Campo para agregar el documento -->
                                        <div class="col-lg-12 mt-5">
                                            <i class="bi bi-circle-fill me-2  ms-1  small-icon text-success "></i>
                                            <label class="form-label" for="form3Example4c">Ingresa el
                                                archivo</label>
                                            <input class="form-control" id="exportDoc" type="file" id="form3Example4c"
                                                formControlName="exportDoc" name="exportDoc"
                                                [class.border-danger]="validatorsForm.controls.exportDoc.errors"
                                                [ngClass]="isValidField('exportDoc')" required />
                                        </div>
                                        <div *ngIf="!validatorsForm.get('exportDoc')?.valid" class="invalid-feedback">
                                            <div *ngIf="validatorsForm.get('exportDoc')?.hasError('required')">
                                                Campo requerido
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4 ">
                                <button type="submit" class="btn btn-primary">
                                    <a class="text-decoration-none text-white text-center">
                                        <i class="bi bi-box-arrow-in-right me-2"></i>Enviar </a>
                                </button>
                            </div>
                        </form>


                    </div>
                    <!-- Aqui va el codigo eliminado  -->
                </div>
            </div>
        </div>
    </div>
</section>