.example-container mat-form-field+mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

html {
    padding: 0;
    margin: 0;
}

/* Puedes eliminar estas reglas, ya que no son necesarias */
/* input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
} */